/* NAVIGATION BAR */
body {
  font-family: 'Mono Sans', 'DM Sans', sans-serif;
}

.nav {
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav li {
  height: 30px;
}

.nav a {
  text-decoration: none;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  display: flex;
  color: #016FD0;
  font-size: 1.2em;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-right: 20px;
}

.nav a:hover {
  color: #00427c;
}

.nav img {
  width: 90px;
  margin-left: 20px;
}