/* NAVIGATION BAR */
body {
  font-family: 'Mono Sans', 'DM Sans', sans-serif;
}

.nav {
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav li {
  height: 30px;
}

.nav a {
  text-decoration: none;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  display: flex;
  color: #016FD0;
  font-size: 1.2em;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-right: 20px;
}

.nav a:hover {
  color: #00427c;
}

.nav img {
  width: 90px;
  margin-left: 20px;
}

/* PROCESS PAGE */

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form-container {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  padding: 20px;
}

.form-container h1 {
  font-size: 2em;
  padding: 20px;
  text-align: center;
}

.form-container p {
  font-size: 1em;
  padding-bottom: 5px;
}

.form-container input {
  width: 400px;
  border: none;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 2px;
  padding-left: 10px;
}